<!DOCTYPE html>
<html>
    <head>
        <title>Blogging is Life</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css"> 
        <link rel="stylesheet" href="/stylesheets/shows.css">
       
<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rightcolumn {   
    float: left;
    width: 75%;
}

/* Right column */
.leftcolumn {
    float: left;
    width: 25%;
}
.pro{
    background-color: #f1f1f1;
    padding-top: 20px;
    margin-top: 25px;
    text-align: center;
}
.bg {
  /* The image used */
  background-image: url(https://images.pexels.com/photos/987648/pexels-photo-987648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
 </head>    
 <body style="overflow-x: hidden" class="bg">
<div >
    <nav class="navbar navbar-expand-lg  navbar-transparent fixed-top">
        <div class="container-fluid">
                    <div class="navbar-header" style="margin: 10px">
                    <a class="navbar navbar-brand" href="/campgrounds" ><big >Blogs</big></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                        <li style="margin-top: 10px;"><a href="/login">Login</a></li>
                        <li style="margin-top: 10px;"><a href="/register">Sign Up</a></li>
                       <% }else{ %>
                        <li style="margin-top: 10px;"><a href="#"><i>Signed in as </i> <strong><%= currentUser.username %></strong> </a></li> 
                        <li style="margin-top: 10px;"><a href="/logout">Logout</a></li> 
                        <%}%>
                    </ul>
                </div>
            </div>
        </nav>

<div class="leftcolumn">

<div class="card" style="background-color: #f1f1f1">
<div class="pro ">
            <div ><img src="<%=user.image%>" alt="Sorry image is not found.""></div>
            <h1 style="padding:20px"><b><%= user.username %></b></h1>
</div>
</div>
</div>
<div class="rightcolumn">
<div class="container">

<section class="h-10000" style="display: flex; flex-wrap: wrap;">
  <div class="container">
        <div class="jumbotron" >
            <div class="col-lg-12">
           <h1><i><strong>All Blogs</strong></i></h1>
           <br>
           <p>Mind-relishing collection of writeups.....</p>
           <br>
                            </div>
            <div class="row" >
<%  campground.forEach(function(campground){ %>
<div class="col-md-3 mx-left">
    <a href="/campgrounds/<%=campground._id%>" style="text-decoration: none"><div class="card" style="width:200px;height: 230px;">
          <img style="width:100%;" src="<%= campground.image %>">
          <div class="caption" style="">
            <br>
             <h4><%= campground.name %></h4>   
         </div>
    </div></a><br><br>
</div>   
<%  }); %>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</body>
</html>
