<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blogging is Life</title>

    <!-- Bootstrap core CSS -->
    <link href="/style/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/stylesheets/footer.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="/style/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="/style/stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="/style/css/new-age.min.css" rel="stylesheet">
<style>
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}
</style>
  </head>

  <body id="page-top" style="overflow-x:hidden">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Blogging</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
            <% if(!currentUser){ %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/register">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/login">Login</a>
            </li>
            <% }else{ %>
            <li><a class="nav-link js-scroll-trigger" href="/users/<%=currentUser._id%>"><i>Signed in as </i> <strong><%= currentUser.username %></strong></a></li> 
                        <li><a class="nav-link js-scroll-trigger" href="/logout">Logout</a></li> 
                        <%}%>
          </ul>
        </div>
      </div>
    </nav>
          

        

  <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto my-auto">
              <h1 class="mb-5"><i class="fa fa-quote-left fa-pull-left" aria-hidden="true"></i>Pour your heart out here at our website and let the world know about your thoughts.<i class="fa fa-quote-right fa-pull-right" aria-hidden="true"></i></h1>
              <a href="/campgrounds/new" class="btn btn-outline btn-xl js-scroll-trigger"><i>Add a new blog.</i></a></div></div>
                    <div class="col-lg-5 my-auto">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="/style/img/blogging.jpg" class="img-fluid" alt="" height="1000px">
          </div>
        </div>
    </div>
    </header>

<section class="h-10000" style="display: flex; flex-wrap: wrap;">
  <div class="container">
        <div class="jumbotron">
        
  
                            <div class="col-lg-12">
           <h1><i><strong>Our Most Popular Blogs!</strong></i></h1>
           <br>
           <p>Mind-relishing writeups of various writers from all over the world!!!</p>
           <br>
                            </div>
 <div class="row text-center h-100" >
        <%  campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6 mx-left">
                    <div class="card" style="width:250px;height: 380px;">
                    
                        <img style="width:100%;" src="<%= campground.image %>">
                        <div class="caption" style="padding: 25px">
                          <br>
                            <h4><%= campground.name %></h4>   
                             <p><%= campground.description.substring(0,15) %>..... %></p>
                        <div >
                        <p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn" style="margin-b: 50px" role="button">Read More</a>
                        </p>
                            </div>
                      </div>
                    </div><br><br>
                </div>   
        <%  }); %>
    </div>
  </div>
</div>
</section>

    <section class="download bg-primary text-center" id="download">
      <div class="text-center">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Discover what all the buzz is about!</h2>
            <br>
            <p>Blog writing is a healthy habit which helps in sharing of thoughts, views and opinions among community. Many blogs provide discussion on particular subjects or topics, ranging from politics to sports and many others. It may be used as personal online diaries, and as online brand advertising of a particular individual or company. A typical blog combines text, digital images, and links to other blogs, web pages, and other media related to its topic.</p>
            <p>A blogging site where people can write about themselves, share their stories, experiences and day to day thoughts etc.Thus, it can help the community to form a deep sense of human connection. Moreover, it can promote sharing progressing ideas and solutions among people.
            </p>
           
          </div>
        </div>
      </div>
    </section>

 <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Stop waiting.<br>Start writing.</h2>
          <a href="/register" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

     <!-- Bootstrap core JavaScript -->
    <script src="/style/vendor/jquery/jquery.min.js"></script>
    <script src="/style/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/style/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/style/js/new-age.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<footer class="section footer-classic context-dark bg-image" style="background: #303030;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-3">
              <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37" srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
                <p>We focus on connecting people so that they can share their ideas.</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Blogs</span><span>. </span><span>All Rights Reserved.</span></p>
              </div>
            </div>

            <div class="col-md-3">
             
              <dl class="contact-list">
                <dt>Address:</dt>
                <dd><a href="https://www.kiet.edu" target="_blank">KIET Group Of Institutions</a></dd>
              </dl>
          </div>
          <div class="col-md-3">
              <dl class="contact-list">
                <dt>Email:</dt>
                <dd><a href="mailto:#">archit.1613018@kiet.edu</a></dd>
                <dd><a href="mailto:#">aman.1613012@kiet.edu</a></dd>
              </dl>
          </div>
          <div class="col-md-3">
              <dl class="contact-list">
                <dt>Phones:</dt>
                <dd><a href="tel:#">+91 8630176667</a> </dd>
                <dd> <a href="tel:#">+91 9628447825</a>
                </dd>
              </dl>
          </div>
            </div>
           
          </div>
       
      </footer>

  </body>
  </html>
